@using AzDoc.App_LocalResources
@using AzDoc.Helpers
@using Newtonsoft.Json
@using OrgRequests.Common.Enums
@model CitizenRequests.Model.ViewModel.DocumentViewModel
@{
    ViewBag.Title = "EditDocument";
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";

    RouteData routeData = ViewContext.RouteData;

    var routeValueDictionary = new RouteValueDictionary(routeData.Values);

    var lang = routeValueDictionary["lang"] ?? "az";
}
<link href="~/Content/common/style.css" rel="stylesheet" />

<style>
    .bootstrap-select .dropdown-menu {
        max-width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


    .card-header-custom {
        background-color: #4f6870 !important;
        padding: 0.4em 1.25rem !important;
    }

    .icon-size {
        font-size: 1.2em;
    }
</style>


<div class="col-12">
    <div class="row breadCrumbRow mt-5">
        <div class="col-6 text-center" id="basicInformation">
            <a href="#step1" class="brActive" data-brcrumb="1">
                @RLang.BasicInfo
            </a>
        </div>

        <div class="col-6 text-center" id="attachmentDocuments">
            <a href="#step2" data-brcrumb="2">@RLang.EDocuments</a>
        </div>
    </div>
</div>
@using(Html.BeginForm("EditDocument", "Operation", FormMethod.Post, new { id = "EditDocument" }))
{
    @Html.AntiForgeryToken()

    <div class="col-12 mainContent">
        <div class="mainEdit contentItem" id="step1" style="padding-top:1px" data-brnum="1">
            @Html.Partial("BasicInformationPartial")
        </div>

        <div class="connectDoc contentItem d-none" id="step2" style="padding-top:1px" data-brnum="2">
            @Html.Partial("~/Views/Document/AttachmentDocumentsPartial.cshtml")
        </div>
    </div>

}


@section scripts{
    <script src="~/Scripts/citizen/form-wizard.js?v=@AppVersion.Version"></script>
    <script src="~/Scripts/common/sweetalert.min.js?v=@AppVersion.Version"></script>
    <script src="~/Scripts/citizen/citizenrequests.js?v=@AppVersion.Version"></script>
    <script src="~/Scripts/common/AttachmentFile.js?v=@AppVersion.Version"></script>

    <script>
        $(document).ready(function () {
            var data = @Html.Raw(JsonConvert.SerializeObject(Model.DocumentModel.ApplicationModels));
            var count = 0;
            $.each(data,
                function (index, item) {
                    tbApplicationAdd(
                        ++count,
                        item.AppId,
                        item.DocEnterno,
                        item.AppFirstname,
                        item.AppSurname,
                        item.AppLastName,
                        item.AppCountryId,
                        item.CountryName,
                        item.AppRegionId,
                        item.RegionName,
                        item.VillageId,
                        item.VillageName,
                        item.SosialStatus,
                        item.AppRepresenterId,
                        item.RepresenterName,
                        item.AppAddress,
                        item.AppPhone,
                        item.AppEmail,
                        item.AppFormType
                    );
                });

            collectiveApply();
            var dataSubtitleId =@Html.Raw(JsonConvert.SerializeObject(this.Model.DocumentModel.SubtitleId));
            var dataSubordinateId =@Html.Raw(JsonConvert.SerializeObject(this.Model.DocumentModel.SubordinateId));

            GetSubtitle($('#TopicTypeName').val(), dataSubtitleId);
            var organizationId = $('#Organization').val();
            if (organizationId!='') {
                GetSubordinate($('#Organization').val(), dataSubordinateId);
            }

            $('#TopicTypeName').on('change', function () {
                var topicId;
                if (this.value > 0) {
                    topicId = this.value;
                } else {
                    topicId = -1;
                }
                GetSubtitle(topicId,null);
            });

            $('#Organization').on('change', function () {
                var orgId;
                if (this.value > 0) {
                    orgId = this.value;
                } else {
                    orgId = -1;
                }
                GetSubordinate(orgId,null);
            });
            $('.close').click(function () {
                fnIndivdualInputClear();
            });

            $('#individualModal').modal({
                backdrop: 'static',
                keyboard: false,
                show: false
        });
            //$('input').on('keyup', function (event) {

            //    $(this).val(function(i, v) {
            //        return v.replace(/[a-zA-zəƏğĞöÖçÇıIşŞüÜ]/,
            //            function (c) {
            //                return c.toUpperCase();
            //            });
            //    });
            //});
            var today = new Date().toISOString().split('T')[0];
            document.getElementsByName("DocumentModel.DocEnterDate")[0].setAttribute('min', today);
            document.getElementsByName("DocumentModel.PlannedDate")[0].setAttribute('min', today);


            var select = $("#tbRelatedDoc");
            var data = '<thead><tr>';
            data+='<th style="width: 25 % " class="thead">Sənədin nömrəsi</th>';

            data+='<th style="width: 75%" class="thead">Sənədin məlumatı</th>';
            data+='</tr></thead>';
            $.ajax({
                type: "GET",
                url: "/@lang/CitizenRequests/Document/GetRelatedDocument",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    data += '<tbody>';
                    $.each(response,
                        function () {
                            data +='<tr class="tr-header-related" onclick="fnSaveRelatedDocument(this)">';
                            data +='<td style="display: none">'+this.DocId +'</td>';
                            data +='<td >' + this.DocEnterno+'</td>';
                            data +='<td >' + this.DocumentInfo + '</td>';
                            data +='</tr>';
                        });
                    data += '</tbody>';

                    select.html(data);
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }

            });
        });

        $('.individual-select').on('click',
            function () {
                $("#individualSaveBtn").removeClass('display-none');
                $("#individualSaveBtn").addClass('display-block');
                $("#individualEditBtn").removeClass('display-block');
                $("#individualEditBtn").addClass('display-none');
                $("#individualSurName").removeAttr('disabled', 'disabled');
                $("#individualFirstName").removeAttr('disabled', 'disabled');
                $("#individualFatherName").removeAttr('disabled', 'disabled');
                $('#individualModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            });


        function GetSubtitle(element,selectValue) {
            $.ajax({
                type: 'GET',
                url: '/@lang/CitizenRequests/Document/GetSubtitle',
                data: { topicTypeId:element},
                success: function (data) {
                    var s = '<option value="-1">Seç</option>';
                    for (var i = 0; i < data.length; i++) {

                        s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                    }
                    $("#Subtitle").html(s);

                    if (selectValue!=null) {
                        document.getElementById("Subtitle").value = selectValue;
                    }

                    $('.selectpicker').selectpicker('refresh');
                }
            });
        }

        function GetSubordinate(element, selectValue) {
            var docTopicTypeId = $('#TopicTypeName').val();

            $.ajax({
                type: 'GET',
                url: '/@lang/CitizenRequests/Document/GetSubordinate',
                data: { organizationId:element,docTopicId:docTopicTypeId},
                success: function (data) {
                    var s = '<option value="-1">Seç</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                    }
                    $("#Subordinate").html(s);
                    if (selectValue != null) {
                        document.getElementById("Subordinate").value = selectValue;
                    }

                    $('.selectpicker').selectpicker('refresh');
                }
            });
        };

        $('.individual-select').on('click',
            function() {
                $("#individualSaveBtn").removeClass('display-none');
                $("#individualSaveBtn").addClass('display-block');
                $("#individualEditBtn").removeClass('display-block');
                $("#individualEditBtn").addClass('display-none');

                $('#individualModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $("#individualCountry").val(31);
                $('.selectpicker').selectpicker('refresh');
            });

        @*$(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '/@lang/CitizenRequests/Document/GetRegion',
                data: { countryId: 31 },
                success: function(data) {
                    var s = '<option value="-1">Seç</option>';
                    for (var i = 0; i < data.length; i++) {

                        s += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                    }
                    $("#individualRegion").html(s);

                    $('.selectpicker').selectpicker('refresh');
                }
            });
        });*@

        $('#fakeButton').click();


        @*function deleteRowAuthor(adrId,element) {
           var confirmText ="Silməyə əminsinizmi?";

            $("#dialog-confirm p").html(confirmText);
            $("#dialog-confirm").dialog({
                title: 'Silmə paneli',
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Bəli": function () {
                        $.ajax({
                            type: 'POST',
                            url: '/@lang/CitizenRequests/Document/DeleteDocument',
                            dataType: 'html',
                            data: { rowId: adrId, formTypeId: 0, docType: @SessionHelper.DocTypeId },
                            success: function(result) {
                                if (result == @((int)Result.Success)) {
                                    $(element).parents("tr").remove();
                                    $("#hiddenSupervisionCheckbox").hide();
                                    $("#supervision").prop("checked", false);
                                    $("#dataTableOrgAuthor").css("display") === "block"
                                        ? $("#dataTableOrgAuthor").hide()
                                        : "";;
                                    toastr.success('Məlumat silindi');

                                }
                            },
                            fail: function(response) {
                                console.log(response);
                            }
                        });
                        $(this).dialog("close");
                    },
                    "Xeyr": function () {
                        $(this).dialog("close");
                    }
                }
            });

        }*@

        function deleteRowAuthor(adrId,element) {

            Swal.fire({
                title: 'Bu sətir cədvəldən silinəcək',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Ləğv et',
                confirmButtonText: 'Təsdiqlə'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: '/@lang/CitizenRequests/Document/DeleteDocument',
                        dataType: 'html',
                        data: { rowId: adrId, formTypeId: 0 },
                        success: function (result) {
                            if (result == @((int)Result.Success)) {

                                $(element).parents("tr").remove();
                                $("#supervision").prop("checked", false);

                                $("#hiddenSupervisionCheckbox").hide();
                                var rowCountAuthor = $('#dataTableOrgAuthor').find('.data-row').length;
                                if (rowCountAuthor === 0) {
                                    $('#dataTableOrgAuthor').hide();
                                    $('#hiddenSupervisionCheckbox').hide();
                                    $("#labelForAddNewAuthorModal").css("display") === "block"
                                        ? $("#labelForAddNewAuthorModal").hide()
                                        : "";
                                    $("#supervision").prop("checked", false);
                                    $('#searchAuthor').closest('div').find('.es-list').empty();
                                    $('#searchAuthor').val("");
                                }

                                Swal.fire({
                                    type: 'success',
                                    title: 'Məlumat silindi',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                            }
                        },
                        fail: function(response) {
                            console.log(response);
                        }
                    });

                }
            });
        }

        function deleteRowRelated(relatedId, element) {

            Swal.fire({
                title: 'Bu sətir cədvəldən silinəcək',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Ləğv et',
                confirmButtonText: 'Təsdiqlə'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                            type: 'POST',
                            url: '/@lang/CitizenRequests/Document/DeleteDocument',
                            dataType: 'html',
                            data: { rowId: relatedId,formTypeId:1, docType: @SessionHelper.DocTypeId  },
                            success: function (result) {
                                if (result == @((int)Result.Success)) {
                                    $(element).parents("tr").remove();
                                    $("#relatedDocTable").find(".data-row").length === 0
                                        ? $("#relatedDocTable").hide()
                                        : $("#relatedDocTable").show();

                                    Swal.fire({
                                        type: 'success',
                                        title: 'Məlumat silindi',
                                        showConfirmButton: false,
                                        timer: 1000
                                    });
                                }
                            },
                            fail: function (response) {
                                console.log(response);
                            }
                    });

                }
            });
        }

        $("#ParentButton").click(function () {

            if ($(".table-custom").find("tr.rowSelector").length === 0) {
                return toastr.warning(" Qoşma sənədi daxil edin.");
            }

            var isMainCount = 0;
            var pageCopyCount = 0;

            $.each($("input[name='isMain']"),
                function() {
                    if ($(this).attr('checked') === 'checked') {
                        ++isMainCount;
                    }
                });

            $.each($("i[name='icon']"),
                function() {
                    if ($.trim($(this).text()) === "") {
                        $(this).closest("span").css('border', '1px solid red');
                        ++pageCopyCount;
                    }
                });

            if (isMainCount === 0) {
                $.each($("input[name='isMain']"),
                    function() {
                        $(this.parentElement).css('border', 'solid red 1px');
                    });
                toastr.warning("Bütün məcburi xanaların doldurulduğuna əmin olun.");
            }

            if (isMainCount!==0 && pageCopyCount===0) {
                var formData = $('#EditDocument').getFormData();
                formData.RelatedDocModels = $('#relatedDocTable').tableToJsonList();
                formData.AuthorModels = $('#dataTableOrgAuthor').tableToJsonList();
                formData.ApplicationModels = $('#citizenApply').tableToJsonList();
                var token = $('input[name="__RequestVerificationToken"]').val();
                var searchParams = new URLSearchParams(window.location.search);
                var requestToken = searchParams.get('token');
                $.ajax({
                    type: 'POST',
                    url: `/@lang/CitizenRequests/Operation/EditDocument?token=${requestToken}`,
                    dataType: 'json',
                    data: { __RequestVerificationToken: token,model: formData },
                    beforeSend: function () {
                        window.ShowLoading();
                    },
                    success: function(response) {
                        if (response) {
                            window.location = '/@lang/CitizenRequests';
                        }
                    },
                    complete: function () {
                        window.CloseLoading();
                    }
                });
            }

        });
    </script>



}