@using BLL.Models.DocInfo
@using AzDoc.Helpers
@model IEnumerable<AnswerDoc>

@if (Model?.Count() > 0)
{
    <div class="col-md-12">
        <h4 class="text-center">Cavab sənədi</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="thead">Qeydiyyat nömrəsi</th>
                    <th scope="col" class="thead">Qeydiyyat tarixi </th>
                    <th scope="col" class="thead">Hara ünvanlanıb</th>
                    <th scope="col" class="thead">Sənədin məzmunu</th>
                    <th scope="col" class="thead">Sənədin statusu</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="/az/Document/GetDocView?token=@TokenHelper.CreateToken(item.DocId)" target="_blank">@item.DocNo</a></td>
                        <td align='center'>@item.DocDate.ToString("d")</td>
                        <td align='center'>@item.DocAddress</td>
                        <td align='center'>@item.DocDescription</td>
                        <td align='center'>@item.DocStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}