@using OrgRequests.Common.Enums
@using OrgRequests.Model.EntityModel
@using OrgRequests.Model.ViewModel
@using AzDoc.Helpers;
@using AzDoc.App_LocalResources;
@model OrgRequests.Model.ViewModel.DocumentInfoViewModel
@{
    RouteData routeData = ViewContext.RouteData;

    var routeValueDictionary = new RouteValueDictionary(routeData.Values);

    var lang = routeValueDictionary["lang"] ?? "az";

    var isPartial = Request.IsAjaxRequest() ? 1 : 0;
}

<head>
    <title>Qeydiyyat vərəqəsi @Model.RegisterNumber</title>
    @if (!Request.IsAjaxRequest())
    {
        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
        <link href="~/Content/common/style.css" rel="stylesheet" />
        <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery/jquery-blockUI.js"></script>
        @GleamTechHelper.Head
        @GleamTechHelper.Js
    }
</head>


<style>
    @@media print {
        .btn {
            display: none;
        }
    }
</style>
<span id="spanToken" style="display: none">@ViewData["Token"]</span>
<div id="view">
    <div class="container-fluid" style="padding-left: 15px!important">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="headingRow">
                            <h3>@Model.OrganizationName</h3>
                        </div>
                    </div>
                </div>

                <div class="mainView">
                    <div class="row">
                        <div class="col-12">
                            <div class="viewHeading">
                                <h3>Qeydiyyat nəzarət vərəqəsi</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="docContent" class="viewGroup appealing">
                                <div class="col-12">
                                    <h4 class="text-center">@Model.ModuleName</h4>

                                    <table class="table table-bordered">
                                        <thead>

                                            <tr>
                                                <th scope="col">Qeydiyyat nömrəsi</th>
                                                <td class="custom-table-cell">@Model.RegisterNumber</td>
                                                <th scope="col">Qeydiyyat tarixi</th>
                                                @if (Model.RegisterDate != null)
                                                {
                                                    <td class="custom-table-cell">@Model.RegisterDate.Value.ToString("d")</td>
                                                }
                                                else
                                                {
                                                    <td class="custom-table-cell">@Model.RegisterDate</td>
                                                }
                                            </tr>


                                            <tr>
                                                <th scope="col">Sənədin növü</th>
                                                <td class="custom-table-cell">@Model.DocumentKind</td>
                                                <th scope="col">Tapşırığın statusu</th>
                                                <td class="custom-table-cell">@Model.DocumentStatus</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="col-12">
                                    <h4 class="text-center">Tapşırığın qısa məzmunu</h4>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>@Model.ShortContent</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <h4 class="text-center">@Model.TaskBaseDocFormName</h4>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="thead">@Model.TaskBaseDocFormName nömrəsi</th>
                                                <th scope="col" class="thead">Qısa məzmun</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td align='center'>
                                                    <a href="/az/Document/GetDocView?token=@TokenHelper.CreateToken(Model.TaskBaseDocId)"
                                                       target="_blank">
                                                        @Model.TaskBaseDocEnterNo
                                                    </a>
                                                </td>
                                                <td>@Model.TaskBaseDocDescription</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                @Html.Partial("~/Views/DocInfo/_DocFiles.cshtml", Model.DocFiles)

                                @Html.Partial("~/Views/DocInfo/_AnswerDoc.cshtml", Model.AnswerDocs)

                                @Html.Partial("~/Views/DocInfo/_RelatedDoc.cshtml", Model.RelatedDocs)

                                @Html.Partial("~/Views/DocInfo/_DocHistory.cshtml", Model.DocHistory)

                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="circleBtn" style="position: fixed; top: 40px; right: 5%;" id="print"><i class="fas fa-print"></i></a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/common/printThis.min.js"></script>
<script>
    $('#print').click(function () {
        $('#view').printThis();
    });


    function fileShow(docInfoId) {

        if (1 == @isPartial) return;

        if (parseInt($("#currentDocInfoId").text()) == docInfoId) {
            $("#trDocFileView").show();
            $("#trDocClose").show();
            return;
        }

            $.ajax({
                type: 'GET',
                url: '/@lang/InsDoc/Document/DocumentDisplay',
                dataType: 'html',
                data: { docInfoId: docInfoId },
                beforeSend: function() {
                    window.ShowLoading();
                },
                success: function (response) {
                    $("#docDisplay").html(response);
                    $("#currentDocInfoId").text(docInfoId);
                    $("#trDocFileView").show();
                    $("#trDocClose").show();
                },
                complete: function() {
                    window.CloseLoading();
                }
        });
    };

    $('#closeDocViewer').click(function () {
        $("#trDocFileView").hide();
        $("#trDocClose").hide();
    });

</script>