@model AzDoc.Models.Account.ChangeExpirePasswordViewModel

@{
    /**/

    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Sənəd Dövriyyəsi</title>
    <link rel="icon" type="image/png" href="">

    <!-- bootstrap -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
    <link href="~/Content/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- main -->
    <link href="~/Content/common/style.css" rel="stylesheet" />
</head>

<body id="login">

    <div id="loader">
        <div class="loaderContent">
            <ul class="books_list">
                <li class="book_item first"></li>
                <li class="book_item second"></li>
                <li class="book_item third"></li>
                <li class="book_item fourth"></li>
                <li class="book_item fifth"></li>
                <li class="book_item sixth"></li>
            </ul>
            <div class="shelf"></div>
        </div>
    </div>

    <main>
        <canvas id=c></canvas>
        <div class="container-fluid">
            <div class="row signRow">
                <div class="col-lg-6 logo">
                    <div class="rabita text-center">
                        <img src="~/Content/images/azdoc.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 sign">
                    <div style="border:1px solid #ffffff36">
                        <div class="loginType">
                            <div class="row no-gutters">
                                <div class="col-3 active" data-lognum='1'>
                                    <a href="#">
                                        <img src="~/Content/images/userlogin.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form">
                            @{
                                Html.EnableClientValidation();
                                Html.EnableUnobtrusiveJavaScript();
                            }

                            @using (Html.BeginForm("ChangeExpirePassword", "Account", FormMethod.Post, new { id = "loginForm", @class = "rForm rForm1" }))
                            {
                                @Html.AntiForgeryToken()


                                <div style="padding-top:10px; color: red">
                                    <span>Parolunuzun istifadə müddəti bitmişdir, zəhmət olmasa yeniləyin</span>
                                </div>
                                <br />
                                <div>
                                    <a href="#" style="color: yellow; text-decoration: underline;" id="securepasswordinfo2" class="securepasswordinfo">Şifrə siyasəti</a>
                                </div>
                                <br />
                                @Html.TextBoxFor(m => m.PasswordNew, "", new
                           {
                               @placeholder = "Yeni şifrə",
                               @type = "password",
                               @class = "form-control-lg",
                               style = "width: 100%;"
                           })

                                @Html.TextBoxFor(m => m.PasswordConfirm, new
                           {
                               @placeholder = "Yeni şifrənin təsdiqi",
                               @type = "password",
                               @class = "form-control-lg",
                               style = "width: 100%;"
                           })


                                <button type="submit" class="btn-lg btn" id="acceptButton">
                                    @AzDoc.App_LocalResources.RLang.Confirm
                                </button>



                            }
                            <div style="padding-top:10px; color: red">
                                @if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1) && (ViewBag.NotSecurePassword))
                                {
                                    <span>@ViewData.ModelState["ErrorMessage"].Errors[0].ErrorMessage</span>
                                    <a href="#" style="color:yellow" id="securepasswordinfo" class="securepasswordinfo">Z.o tanış olun(?)</a>
                                }
                                @if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1) && (!ViewBag.NotSecurePassword))
                                {
                                    <span>@ViewData.ModelState["ErrorMessage"].Errors[0].ErrorMessage</span>
                                }
                            </div>



                        </div>
                    </div>

                </div>
            </div>

        </div>
        @*<div class="rabitaLogo">
            <img src="~/Content/images/whiteLogo.png" />
        </div>*@

    <div id="dialog" title="Şifrə siyasəti">
        <p>Ən az 8 simvol daxil edin, Şifrədə xüsusi simvollardan, böyük və kiçik hərflərdən, rəqəmlərdən istifadə edilməlidir</p>
    </div>
    </main>
    <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/account/bg.js"></script>
    <script src="~/Scripts/account/main.js"></script>
    <script async src="~/Scripts/jquery/jquery-blockUI.js"></script>
    <script src="~/Scripts/jquery/jquery-ui.js"></script>

    <script>
        $('#loader').fadeOut('slow');
        $(document).ready(function () {
            /*--------------- LOGIN ------------------*/
            $("#login .sign .loginType .col-3").click(function () {
                if (!$(this).hasClass("active")) {
                    $("#login .sign .loginType .active").removeClass("active");
                    $(this).addClass("active");
                    var lognum = $(this).data('lognum');
                    $("#login .sign .form .rForm").addClass('d-none');
                    $("#login .sign .form .rForm" + lognum + "").removeClass("d-none");
                }
            });

            /*--------------- Left Menu ------------------*/
        });

        $('#acceptButton').on('click', function () {
            $(this).attr("disabled", true);
            $('#loginForm').submit();
        });
        $('.securepasswordinfo').on('click', function () {
            $("#dialog").dialog();
        });
      

    </script>

</body>

</html>
