@using AzDoc.App_LocalResources
@model AzDoc.Models.Account.ForgotPasswordViewModel
@{
    Layout = "";
    ViewBag.Title = "ForgotPassword";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Sənəd Dövriyyəsi</title>
    <link rel="icon" type="image/png" href="">

    <!-- bootstrap -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">

    <!-- main -->
    <link href="~/Content/common/style.css" rel="stylesheet" />
</head>

<body id="login">

    <div id="loader">
        <div class="loaderContent">
            <ul class="books_list">
                <li class="book_item first"></li>
                <li class="book_item second"></li>
                <li class="book_item third"></li>
                <li class="book_item fourth"></li>
                <li class="book_item fifth"></li>
                <li class="book_item sixth"></li>
            </ul>
            <div class="shelf"></div>
        </div>
    </div>

    <main>
        <canvas id=c></canvas>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 logo">
                    <div class="rabita text-center">
                        <img src="~/Content/images/azdoc.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 sign">
                    <div>
                        <div class="form">
                            <form class="rForm rForm1">
                            @{
                                Html.EnableClientValidation();
                                Html.EnableUnobtrusiveJavaScript();
                            }

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "loginForm", @class = "rForm" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.TextBoxFor(m => m.UserName, "", new
                                {
                                    @placeholder = "İstifadəçi adı",
                                    @type = "text",
                                    @class = "form-control-lg",
                                    @Name = "username",
                                    @id = "test"
                                })

                                @Html.TextBoxFor(m => m.ResetCode, "", new
                                {
                                    @placeholder = "Sıfırlama kodu",
                                    @type = "password",
                                    @class = "form-control-lg",
                                    @Name = "resetcode",
                                    @id = "test"
                                })

                                @Html.TextBoxFor(m => m.Password, "", new
                                {
                                    @placeholder = "Şifrə",
                                    @type = "password",
                                    @class = "form-control-lg",
                                    @Name = "password",
                                    @id = "test"
                                })

                                @Html.TextBoxFor(m => m.PasswordConfirm, "", new
                                {
                                    @placeholder = "Təkrar şifrə",
                                    @type = "password",
                                    @class = "form-control-lg",
                                    @Name = "passwordConfirm",
                                    @id = "test"
                                })

                                <p><a href="~/az/Account/Login"> @AzDoc.App_LocalResources.RLang.Login</a></p>
                               

                                <button type="submit" class="btn-lg btn" id="acceptButton">
                                    @AzDoc.App_LocalResources.RLang.ChangePassword
                                </button>

                                <div class="container error-list" style="padding: 15px; color: red">
                                    @if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1))
                                    {
                                        <span>@ViewData.ModelState["ErrorMessage"].Errors[0].ErrorMessage</span>
                                    }
                                </div>
                            }
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="rabitaLogo">
            <img src="~/Content/images/whiteLogo.png" />
        </div>
    </main>
    <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/account/bg.js"></script>
    <script>
        $('#loader').fadeOut('slow');
    </script>
</body>

</html>
@*<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/account/css/main.css" rel="stylesheet" />
    <link href="~/Content/account/css/util.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <title>E-Sənəd Dövriyyəsi</title>
</head>
<body class="body-login">

 

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more">
                <div class="div_logo">
                    <img src="/Content/images/logo-large.png" alt="Logo login">
                </div>
            </div>
            <div style="height: 100%;width: 0.10%;background: #e6e6e6;"></div>
            <div class="wrap-login100" p-l-50 p-r-50 p-t-72 p-b-50>
                <table class="table-login">
                    <tr>
                        <td>
                            <div class="form_logo">
                                <img src="/Content/images/logo-small.png" alt="Logo login">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="div_form">
                                @{
                                    Html.EnableClientValidation();
                                    Html.EnableUnobtrusiveJavaScript();
                                }
                                @using(Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "ForgotPasswordForm", @class = "login100-form validate-form flex-sb flex-w" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <div class="p-t-31 p-b-9">
                                        <span class="txt1">
                                            @RLang.UserName
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-16" data-validate="@RLang.RequiredCell">
                                        <span class="glyphicon glyphicon-user logicon " aria-hidden="true"></span>
                                        @Html.TextBoxFor(m => m.UserName, "", new
                                        {
                                            @placeholder = "Istifadəçi adını daxil edin",
                                            @type = "text",
                                            @class = "input100",
                                            @Name = "username",
                                            @id = "test"
                                        })
                                        <span class="focus-input100"></span>
                                    </div>

                                    <div class="p-b-9">
                                        <span class="txt1">
                                            @RLang.ResetCode
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-16" data-validate="@RLang.RequiredCell">
                                        <span class="glyphicon glyphicon-lock logicon " aria-hidden="true"></span>
                                        @Html.TextBoxFor(m => m.ResetCode, "", new
                                        {
                                            @placeholder = "Sifirlama kodunu daxil edin",
                                            @type = "password",
                                            @class = "input100",
                                            @Name = "resetcode",
                                            @id = "test"
                                        })
                                        <span class="focus-input100"></span>
                                    </div>

                                    <div class="p-b-9">
                                        <span class="txt1">
                                            @RLang.Password
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-16" data-validate="@RLang.RequiredCell">
                                        <span class="glyphicon glyphicon-lock logicon " aria-hidden="true"></span>
                                        @Html.TextBoxFor(m => m.Password, "", new
                                        {
                                            @placeholder = "Sifreni daxil edin",
                                            @type = "password",
                                            @class = "input100",
                                            @Name = "password",
                                            @id = "test"
                                        })
                                        <span class="focus-input100"></span>
                                    </div>

                                    <div class="p-b-9">
                                        <span class="txt1">
                                            @RLang.PasswordConfirm
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-16" data-validate="@RLang.RequiredCell">
                                        <span class="glyphicon glyphicon-lock logicon " aria-hidden="true"></span>
                                        @Html.TextBoxFor(m => m.PasswordConfirm, "", new
                                        {
                                            @placeholder = "Tekrar sifreni daxil edin",
                                            @type = "password",
                                            @class = "input100",
                                            @Name = "passwordConfirm",
                                            @id = "test"
                                        })
                                        <span class="focus-input100"></span>
                                    </div>

                                    <div class="container-login100-form-btn m-t-17">
                                        <button type="submit" class="login100-form-btn">
                                            @RLang.ChangePassword
                                        </button>
                                        <button type="button" class="login100-form-btn" id="loginButton" style="position: absolute;right: 0px;">
                                            @RLang.Login
                                        </button>
                                    </div>

                                    <div class="container error-list" style="padding: 15px; color: red">

                                        @if(ViewData.ModelState.Values.Any(x => x.Errors.Count > 0))
                                        {
                                            <span>@ViewData.ModelState["ErrorMessage"].Errors[0].ErrorMessage</span>

                                        }
                                    </div>

                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/account/main.js"></script>
    <script>
        $('#loginButton').click(function () {
            window.location = "/Login";
        });
    </script>
</body>
</html>*@