@using AzDoc.App_LocalResources
@model BLL.Models.Account.SettingModel

<div class="row">
    <div class="col-4 text-center userProfileContent">
        <img src="~/Content/images/user.jpg" alt="">
        <a href="#" class="mBtn squareBtn">Şəkil seç</a>
        <input type="file" class="d-none" id="profilePhoto">
    </div>
    <div class="col-6 text-center">
        <div>
            <a href="#" style="color: yellow; text-decoration: underline;" id="securepasswordinfo2" class="securepasswordinfo">Şifrə siyasəti</a>
        </div>
        <br />
        <form class="text-left">
            <div class="form-group">
                @Html.PasswordFor(m => m.ChangePasswordModel.Password, new { @class = "form-control", id = "oldPassword", @placeholder = @RLang.Password, @type = "password", @maxlength = "20", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder =  '" + @RLang.Password + "'" })
            </div>
            <h6 style="color:#ca5100; font-size: 14px">@Html.ValidationMessageFor(m => m.ChangePasswordModel.Password)</h6>

            <div class="form-group">
                @Html.PasswordFor(m => m.ChangePasswordModel.PasswordNew, new { @class = "form-control", id = "PasswordNew", @placeholder = @RLang.PasswordNew, @type = "password", @maxlength = "20", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder =  '" + @RLang.PasswordNew + "'" })
            </div>
            <h6 style="color:#ca5100; font-size: 14px">@Html.ValidationMessageFor(m => m.ChangePasswordModel.PasswordNew)</h6>

            <div class="form-group">

                @Html.PasswordFor(m => m.ChangePasswordModel.PasswordConfirm, new { @class = "form-control", id = "PasswordConfirm", @placeholder = @RLang.PasswordConfirm, @type = "password", @maxlength = "20", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder =  '" + @RLang.PasswordConfirm + "'" })

            </div>
            <h6 style="color:#ca5100; font-size: 14px">@Html.ValidationMessageFor(m => m.ChangePasswordModel.PasswordConfirm)</h6>
        </form>
    </div>
    <div class="col-12 mt-4 text-center">
        <button class="mBtn mBtn-pr" id="SaveBtn">
            <i class="fas fa-save"></i>
            @RLang.ChangePassword
        </button>
    </div>
    <div class="error-list" style="padding:15px;color:red">
        @if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1))
        {
            <span>@ViewData.ModelState["ErrorMessage"].Errors[0].ErrorMessage</span>
        }
    </div>
</div>

<div id="dialog" title="Şifrə siyasəti">
    <p>Ən az 8 simvol daxil edin, Şifrədə xüsusi simvollardan, böyük və kiçik hərflərdən, rəqəmlərdən istifadə edilməlidir</p>
</div>



<script>


    $("#SaveBtn").click(function () {
        var password = $("#oldPassword").val();
        var passwordNew = $("#PasswordNew").val();
        var passwordConfirm = $("#PasswordConfirm").val();
        if (passwordNew.length === passwordConfirm.length) {
            if (passwordNew === passwordConfirm) {
                console.log($("#PasswordNew").text());
                $.ajax({
                    type: 'POST',
                    url: '/az/Settings/ChangePassword',
                    dataType: 'json',
                    data: { Password: password, PasswordNew: passwordNew, PasswordConfirm: passwordConfirm },
                    success: function (response) {
                        if (response.result == true) {
                            toastr.success("Emeliyyat ugurlu oldu");
                        }
                        else {
                            toastr.info(response.text);
                        }

                    },
                    //error: function (response) {
                    //    toastr.error(response.responseText);
                    //}
                });
            }
            else {
                toastr.warning("parollar eyni deyil");
            }
        }
        else {
            toastr.warning("parolun uzunlugu eyni olmalidir");
        }

        //else {
        //    alert("eror eror eror eror ");
        //    $.ajax({
        //        type: 'POST',
        //        url: '/az/Account/ChangePassword',
        //        dataType: 'json',
        //        data: { Password: password, PasswordNew: passwordNew },
        //        success: function (response) {
        //            if (response.result == true)
        //                alert("ok");
        //            toastr.success("Aktiv edildi");
        //        },
        //        error: function (response) {
        //            toastr.error(response.responseText);
        //        }
        //    });
        //}

    });
    $('.securepasswordinfo').on('click', function () {
        $("#dialog").dialog();
    });

</script>







