@using AzDoc.App_LocalResources
@using AzDoc.Helpers
@model ColleagueRequests.Model.ViewModel.ElectronicDocumentViewModel
@{
    Layout = null;
    RouteData routeData = ViewContext.RouteData;

    var routeValueDictionary = new RouteValueDictionary(routeData.Values);

    var lang = routeValueDictionary["lang"] ?? "az";
}

<style>
    .col-md-1 {
        flex: 0 0 4.333333% !important;
        width: 3.5% !important;
    }

    .accept-modal-dialog {
        width: 30%;
        /* margin: 48px auto; */
        margin: 15% auto;
    }

    .signature-modal-dialog {
        width: 20%;
        /* margin: 48px auto; */
        margin: 20% auto;
    }

    .operation-history-modal-dialog {
        width: 50%;
        /* margin: 48px auto; */
        margin: 10% auto;
    }

    .icon-size {
        font-size: 1.7em;
    }
</style>

<div style="height: 100%">
    <div class="col-12">
        <div class="form-group">
            <div class="input-group input-group-sm">
                @Html.AntiForgeryToken()
                <span class="d-none" id="spanToken">@Model.Token</span>

                <div class="col-md-1">
                    <button type="button" id="DocInfoButton" class="btn btn-light btn-sm">
                        <i class="fas fa-chevron-circle-down icon-size" style="color: #005487"></i>
                    </button>
                </div>

                <div class="col-md-5">
                    @Html.DropDownListFor(model => Model.FileInfoId,
                        new SelectList(Model.DocFiles, "FileInfoId", "FileName"), new
                        {
                            @class = "form-control",
                            @id = "JsonFile"
                        })
                </div>

                @Html.Partial("~/Views/Document/ElectronicDocumentActions.cshtml", Model.DocActions)
            </div>

            <div class="col-12">
                <div class="form-group">
                    <div class="alert alert-light alert-dismissible" id="alertInfo">
                        <table class="table table-bordered table-sm  mTable">
                            <thead>
                                <tr>
                                    <th scope="col">Sənədin nömrəsi</th>
                                    <th scope="col">Sənədin Tarixi</th>
                                    <td scope="col">Əməliyyatın növü</td>
                                    <td scope="col">Əməliyyatı aparan</td>
                                    <th scope="col">Sənədin qısa məzmunu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.DocEnterNo</td>
                                    <td>@Model.DocEnterDate.Value.ToString("d")</td>
                                    <td>@Model.ExecuteRule</td>
                                    <td>@Model.CreaterPersonnelName</td>
                                    <td>@Model.Description</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12" id="DocViewer">
        <div class="form-group">
            @Html.Partial("~/Areas/ColleagueRequests/Views/Document/DocumentDisplay.cshtml")
        </div>
    </div>
</div>

@Html.Partial("/Views/Modals/_CommonModal.cshtml", Model)

<script>

    $("#sendForInformationButton").click(function () {
        var token = $("#spanToken").html();
        SendForInformaton(token);
    });

    $(".closeBtn").click(function () {
        $(".modalBtn").modal("hide");
    });

    $("#signatureCloseButton").click(function () {
        $("#signatureDialogModal").modal("hide");

    });

    $("#acceptCloseButton").click(function () {
        $("#acceptModal").modal("hide");

    });

    $("#HistoryCloseButton").click(function () {
        $("#operationHistoryDialogModal").modal("hide");

    });

    $(document).ready(function () {
        $(".alert").hide();

        $('#DocInfoButton').on("click",function() {
            $("#alertOperationHistory").hide();
            $("#alertTask").hide();
            if ($("#alertInfo").css("display") == "none")
            {
                $("#alertInfo").show('medium');
            }
            else
            {
                $("#alertInfo").hide();
            }
        });

        $(".close").click(function () {
            $(".alert").hide();
        });

        $("#JsonFile").change(function () {
            var id = $(this).val();
            console.log(id);
            $.ajax({
                type: 'GET',
                url: '/@lang/ColleagueRequests/Document/DocumentDisplay',
                dataType: 'html',
                data: { docInfoId: id},
                success: function (response) {
                    $("#DocViewer").html(response);
                }
            });
        });

    });
</script>