@{
    ViewBag.Title = "EditDocument";
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}

<link href="~/Content/common/md-form-design.css" rel="stylesheet" />

<style>

    .isChecked {
        background: #ddd;
    }

    .check {
        pointer-events: none;
    }

    .tr-header > th, #tr > td {
        border: #ccc solid 1px;
        text-align: center !important;
        vertical-align: middle;
    }

    #ShortContent {
        height: 100px !important;
    }

    .btn-light {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #cccccc !important;
    }

    .tableRelated {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        text-align: left !important;
        height: 200px;
        display: block;
        overflow: scroll
    }

    .tr-header-related > th, #tr > td {
        border: #ccc solid 1px;
        text-align: left !important;
        vertical-align: middle;
    }

    /*.form-control, .btn{
        font-size: 0.8rem !important;
    }*/
    /*.card-body {
        padding: 0.5rem !important;
    }*/

    .card-header-custom {
        background-color: #5c91af !important;
        padding: 0.4em 1.25rem !important;
    }

    .icon-size {
        font-size: 1.2em;
    }


    /*.isChecked {
        background: #ddd;
    }

    .check {
        pointer-events: none;
    }

    .tr-header > th, #tr > td {
        border: #ccc solid 1px;
        text-align: center !important;
        vertical-align: middle;
    }

    #ShortContent {
        height: 100px !important;
    }

    .btn-light {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #cccccc !important;
    }

    .tableRelated {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        text-align: left !important;
        height: 200px;
        display: block;
        overflow: scroll
    }

    .tr-header-related > th, #tr > td {
        border: #ccc solid 1px;
        text-align: left !important;
        vertical-align: middle;
    }

    .form-control, .btn {
        font-size: 0.8rem !important;
    }

    .card-body {
        padding: 0.5rem !important;
    }



    .bootstrap-select .dropdown-menu {
        max-width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card-header-custom {
        background-color: #5c91af !important;
        padding: 0.4em 1.25rem !important;
    }

    .icon-size {
        font-size: 1.2em;
    }*/
</style>

<div class="col-12">
    <div class="row breadCrumbRow mt-5">
        <div class="col-4 text-center" id="basicInformation">
            <a href="#step1" class="brActive" data-brcrumb="1">
                @RLang.BasicInfo
            </a>
        </div>
        <div class="col-4 text-center " id="tasks">
            <a href="#step2" data-brcrumb="2">Tapşırıqlar</a>
        </div>
        <div class="col-4 text-center" id="attachmentDocuments">
            <a href="#step3" data-brcrumb="3">@RLang.EDocuments</a>
        </div>
    </div>
</div>
@using (Html.BeginForm("EditDocument", "Operation", FormMethod.Post, new { id = "EditDocument" }))
{
    @Html.AntiForgeryToken()

    <div class="col-12 mainContent">
        <div class="mainEdit contentItem" id="step1" style="padding-top:1px" data-brnum="1">
            @Html.Partial("BasicInformationPartial")
        </div>
        <div class="mainEdit contentItem d-none" id="step2" style="padding-top:1px" data-brnum="2">
            @Html.Partial("DocumentInformationPartial")
        </div>
        <div class="connectDoc contentItem d-none" id="step3" style="padding-top:1px" data-brnum="3">
            @Html.Partial("~/Views/Document/AttachmentDocumentsPartial.cshtml")
        </div>
    </div>

}


@section scripts{
    <script src="~/Scripts/insdoc/form-wizard.js"></script>
    <script src="~/Scripts/common/sweetalert.min.js?v=@AppVersion.Version"></script>
    <script src="~/Scripts/insdoc/insdoc.js"></script>
    <script src="~/Scripts/common/AttachmentFile.js"></script>
    <script>

        $('#fakeButton').click();

        $('#next-step-3').click(function() {

            $('#taskTable').tableToJsonList();
        });

        function deleteRowRelated(relatedId, element) {

            Swal.fire({
                title: 'Bu sətir cədvəldən silinəcək',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Ləğv et',
                confirmButtonText: 'Təsdiqlə'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: '/az/InsDoc/Document/DeleteDocument',
                        dataType: 'html',
                        data: { rowId: relatedId, formTypeId: 1 },
                        success: function(result) {
                            if (result == 1) {
                                console.log(element);
                                $(element).closest("tr").remove();
                                if ($("#relatedDocTable").find("tr.data-row").length == 0) {
                                    $("#relatedDocTable").hide();
                                }

                                Swal.fire({
                                    type: 'success',
                                    title: 'Məlumat silindi',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                            } else {
                                Swal.fire({
                                    type: 'error',
                                    title: 'Məlumat silinməsi uğursuz oldu',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                            }
                        }
                    });
                }
            });
        }


        $("#ParentButton").click(function() {

            if ($(".table-custom").find("tr.rowSelector").length === 0) {
                return toastr.warning(" Qoşma sənədi daxil edin.");
            }

            var isMainCount = 0;
            var pageCopyCount = 0;

            $.each($("input[name='isMain']"),
                function() {
                    if ($(this).attr('checked') === 'checked') {
                        ++isMainCount;
                    }
                });

            $.each($("i[name='icon']"),
                function() {
                    if ($.trim($(this).text()) === "") {
                        $(this).closest("span").css('border', '1px solid red');
                        ++pageCopyCount;
                    }
                });

            if (isMainCount === 0) {
                $.each($("input[name='isMain']"),
                    function() {
                        $(this.parentElement).css('border', 'solid red 1px');
                    });
                toastr.warning("Bütün məcburi xanaların doldurulduğuna əmin olun.");
            }

            if (isMainCount !== 0 && pageCopyCount === 0) {
                var token = $('input[name="__RequestVerificationToken"]').val();
                var formData = $('#EditDocument').getFormData();

                formData.RelatedDocModels = $('#relatedDocTable').tableToJsonList();
                formData.TaskFormModels = $('#taskTable').tableToJsonList();
                formData.RedirectPersonInput = $('#tableRedirectPersons').tableToJsonList();
                formData.VizaDataJson = JSON.stringify(vizaPersonList);

                console.log(formData);
                var searchParams = new URLSearchParams(window.location.search);
                var requestToken = searchParams.get('token');
                $.ajax({
                    type: 'POST',
                    url: `/az/InsDoc/Operation/EditDocument?token=${requestToken}`,
                    dataType: 'json',
                    beforeSend: function() {
                        window.ShowLoading();
                    },
                    data: { __RequestVerificationToken: token, model: formData },
                    success: function(response) {
                        if (response) {
                            window.location = '/az/InsDoc';
                        }
                    },
                    complete: function() {
                        window.CloseLoading();
                    }
                });
            }
        });
    </script>
}